[mysqld]
# 设置 为您的MySQL服务器唯一指定的id
server-id               = 1

#设置基本路径
basedir=/usr/local/mysql

#设置数据文件路径
datadir=/usr/local/mysql/data

# 错误日志
log_error = /var/log/mysql/error.log

# 启用慢查询日志并设置阈值
slow_query_log = 1
long_query_time = 5

# 最大连接数
max_connections = 100

# InnoDB引擎配置
# 默认存储引擎
default-storage-engine = INNODB

# 设置为1，InnoDB不会启动先前被延迟恢复的表的恢复。在系统重新启动后，延迟恢复的表在首次访问时在线执行恢复。
innodb_fast_shutdown = 1

# 配置Innodb Buffer Pool大小，对于内存有限的系统，比如1GB RAM，可以设置为128M；对于内存大的系统，一般设置为内存的70-80%
innodb_buffer_pool_size = 128M

# 设置InnoDB Log Buffer的大小，一般设置为8M即可
innodb_log_buffer_size = 8M

# 参与事务的那些表的数量超过此值时，InnoDB会在提交事务前自动检查并清理那些未使用的事务
innodb_open_files = 400

# 禁用InnoDB的自适应哈希索引，降低CPU使用
innodb_adaptive_hash_index = 0

# 其他
# 禁用性能模式
performance_schema = OFF

# 设置时间区
default_time_zone = SYSTEM

[mysqldump]
quick
max_allowed_packet = 32M